<td> <%= m.name %> </td>
<td> <%= m.company %> </td>
<td> <%= m.rating %> </td>
<td> <%= m.is_source_available ? "Yes" : "No" %> </td>
<td> <%= m.party %> </td> 
<td> <%= m.encoding_works %> </td>
<td> <%= m.is_live ? "Yes" : "No" %> </td>
<td> <%= m.agreement_exclusive_or_non_exclusive %> </td>
<td> <%= m.agreement_revenue_or_outright %> </td>
<td> <%= m.expiry_date %> </td>